# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [27]:
import pandas as pd
import numpy as np
window = 4
# input_list = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
input_list = [10,20,30,40,50,60,70,80,90,100]
df = pd.DataFrame()
df['input_col'] = input_list
df['output'] = df.transform(lambda x:x.rolling(window=window, min_periods = 4).mean())
df['output'] =  df['output'].shift(-(window-1), axis = 0)
df

   input_col  output
0         10    25.0
1         20    35.0
2         30    45.0
3         40    55.0
4         50    65.0
5         60    75.0
6         70    85.0
7         80     NaN
8         90     NaN
9        100     NaN

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [169]:
s = pd.Series([7,2,0,3,4,2,5,0,3,4])
x = (s != 0).cumsum()
y = x != x.shift()
a = list(y.groupby((y != y.shift()).cumsum()).cumsum())
[int(x) for x in a]

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

#### The above line of code is copied here from google :(

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [86]:
import datetime
import random
# using pandas's built in fucntion for generation of business days between two dates.
a = pd.bdate_range(start="2015-01-01",end="2015-12-31")

df = pd.DataFrame()
b = random.sample(range(1,1001), len(a))
df['Date'] = a
df['random'] = b
df = df.set_index('random')
df.head()

             Date
random
23     2015-01-01
222    2015-01-02
300    2015-01-05
169    2015-01-06
276    2015-01-07

Q.4