Q1. Write a Python program to get the string from the given string where
all the occurrence of its first char has been changed to '$,' except first
char itself?

    Sample String: 'prospect'
    Expected Result : 'pros$ect'

In [1]:
input_test = 'iNueron_masti_padhai_learning_magic'

def question_1(string):
    '''
    This funciton should leave the first character as it is and change all the instances of first charcter
    to $.
    '''
    new_string = string[0]
    for letter in string[1:]:
        if letter == string[0].lower():
            letter = '$'
        new_string = new_string+letter 
    return new_string

output_test = question_1(input_test)
output_test

'iNueron_mast$_padha$_learn$ng_mag$c'

Q2. Write a Python program to get the single string from the two given
strings, and separated by the space and swap the first two characters of
each string?

    Sample String : 'abc', 'xyz'.
    Expected Result: 'xyc abz'

In [2]:
given_string = 'Rajasthan', 'Maharastra'

def question_2(strings):
    string1, string2 = strings
    string_1 = string2[:2]+string1[2:]
    string_2 = string1[:2]+string2[2:]
    output = string_1 + ' ' + string_2
    return output

output = question_2(given_string)
output

'Majasthan Raharastra'

Q3. Write the Python program to add 'ing' at the end of the given string
(length of the string should be at least 3). If given string already ends
with 'ing,' then add 'ly' instead. If string length of the given string is less
than 3, leave it unchanged?


    Sample string: ' abc '
    Expected result: ' abcing '
    Sample string: ' string '
    Expected result: ' stringly '

In [3]:
input_string = input(str())

def question_3(string):
    if len(string) >= 3:
        if string[-3:] == 'ing':
            string = string + 'ly'
        else:
            string = string + 'ing'
    else: string
    
    return string

output = question_3(input_string)
output

passing

'passingly'

Q4. Write the Python program to find the first appearance of the
substring 'not' and 'poor' from the given string, if 'not' follows the 'poor',
replace the whole 'not'...' poor' substring with 'good'.Return the resulting
string.

    Sample string: 'The lyrics are not that poor!'
    'The lyrics are poor!'
    Expected Result: 'The lyrics are good!'
    'The lyrics are poor!'

In [4]:
input_string = 'The lyrics are not that poor, so you do not need to waste time improving it further!'
a = input_string.index('not')
b = input_string.index('poor')

def question_4(string):
    if 'not' and 'poor' in input_string:
        if a < b:
            output_string = string[:a-1] + ' good' + string[b+4:]
            return output_string

        else:
            return input_string
    else:
        return input_string
    
desired_output = question_4(input_string)
desired_output

'The lyrics are good, so you do not need to waste time improving it further!'

Q5. Write the Python program to remove the characters which have odd
index values of a given string.

In [5]:
input_string = 'iNueron is the best'
output = input_string[::2]
output

'iurni h et'

Q6. Write the python program to print the following floating numbers up
to 2 decimal places?

In [6]:
floating_numbers = [2.345345, 3.453234, 5.4345328373, 9.837383737]
floating_numbers =  [ '%.2f' % i for i in floating_numbers ]
floating_numbers

['2.35', '3.45', '5.43', '9.84']

Q7. Write the Python program to format a number with a percentage?

In [7]:
"{:.2%}".format(0.7179)

'71.79%'

Q8. Write the Python program to count occurrences of a substring in a
String?

In [8]:
input_string = 'this is a test string in which we have to find a sub string that needs to be counted.\
In short, string have to be counted and their number needs to be printed.'

print(input_string.count('to be'))

3

Q9. Write the Python program to count repeated characters in a string.

    Sample string: ' thequickbrownjumpsoverthelazydog '
    
    Expected output:
    o 3
    e 3
    u 2
    h 2
    r 2
    t 2

#### To Print as dictionary

In [9]:
input_string =  ' thequickbrownjumpsoverthelazydog '
char_dict = {}
for char in input_string:
    count = input_string.count(char)
    char_dict[char] = count
    
char_dict

{' ': 2,
 't': 2,
 'h': 2,
 'e': 3,
 'q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'b': 1,
 'r': 2,
 'o': 3,
 'w': 1,
 'n': 1,
 'j': 1,
 'm': 1,
 'p': 1,
 's': 1,
 'v': 1,
 'l': 1,
 'a': 1,
 'z': 1,
 'y': 1,
 'd': 1,
 'g': 1}

#### To Print as dataframe

In [10]:
input_string =  ' thequickbrownjumpsoverthelazydog '
char_dict = {}
for char in input_string:
    count = input_string.count(char)
    char_dict[char] = count

In [11]:
import pandas as pd
pd.DataFrame(list(char_dict.items()), columns=['Characters', 'count']).\
sort_values(by = 'count', ascending = False).reset_index(drop = True)

   Characters  count
0           e      3
1           o      3
2                  2
3           h      2
4           u      2
5           r      2
6           t      2
7           p      1
8           d      1
9           y      1
10          z      1
11          a      1
12          l      1
13          v      1
14          s      1
15          w      1
16          m      1
17          j      1
18          n      1
19          b      1
20          k      1
21          c      1
22          i      1
23          q      1
24          g      1

Q10. Write the Python program to print the square and cube symbol in
the area of a rectangle and volume of a cylinder?

    Sample outputThe area of the rectangle is 1256.66cm2
    The volume of the cylinder is 1254.725cm3

#### Googled and foung out this approach

In [12]:
area = 100.234456
volume = 1000.7363636
print('AREA is {:.2f}cm\u00b2'.format(area))
print('VOLUME is {:.2f}cm\u00b3'.format(volume))

AREA is 100.23cm²
VOLUME is 1000.74cm³

Q11. Write the Python program to check if a string contains all letters of
the alphabet?

#### This is a temporary check if the given input is having only the alphabets, if it has special chars, then it will fail.

In [13]:
input_statement = ' thequickbrownfoxjumpsoverthelazydog '
input_statement = input_statement.lower()
len_input = set(input_statement)
if len(len_input) >= 26:
    print('The given string is having all the distinct alphabets')
else:
    print('The given string is missing some of the alphabets')

The given string is having all the distinct alphabets

#### The second approach as googled

In [14]:
import string
test = set(string.ascii_lowercase)
input_string = 'The quick brown fox jumps over the lazy dog'
print(' In the case of all alphabets---->', set(input_string.lower()) >= test)
input_string = 'The quick brown fox jumps over the lazy cat'
print(' In the case of NOT all alphabets---->', set(input_string.lower()) >= test)

 In the case of all alphabets----> True
 In the case of NOT all alphabets----> False

Q12. Write the Python program to find the second most repeated word
in a given string?

#### Case 1 - Considering upper and lower cases as different

In [15]:
input_string = 'this is a test test test test test TEST TEST TEST test string STRING STRING STRING STRING STRING STRING STRING in which we have to find a sub string that needs to be counted. In short, string have to be counted and their number needs to be printed.'
input_string = input_string.split()


word_dict = {}

for word in input_string:
#     print(word)
    count = input_string.count(word)
#     print(count)
    word_dict[word] = count

df = pd.DataFrame(list(word_dict.items()), columns=['words', 'count']).\
sort_values(by = 'count', ascending = False).reset_index(drop = True)

print('The Second most frequent word in the string is "{}"'.format(df['words'][1]))

The Second most frequent word in the string is "test"

In [16]:
df

       words  count
0     STRING      7
1       test      6
2         to      4
3         be      3
4       TEST      3
5     string      3
6          a      2
7      needs      2
8       have      2
9    counted      1
10        In      1
11    short,      1
12      this      1
13       and      1
14  counted.      1
15    number      1
16     their      1
17      find      1
18      that      1
19       sub      1
20        is      1
21        we      1
22     which      1
23        in      1
24  printed.      1

#### Case 2 - Considering upper and lower cases as same

In [17]:
input_string = 'this is a test test test test test TEST TEST TEST test string STRING STRING STRING STRING STRING STRING STRING in which we have to find a sub string that needs to be counted. In short, string have to be counted and their number needs to be printed.'
input_string = input_string.lower()
input_string = input_string.split()



word_dict = {}

for word in input_string:
#     print(word)
    count = input_string.count(word)
#     print(count)
    word_dict[word] = count

df = pd.DataFrame(list(word_dict.items()), columns=['words', 'count']).\
sort_values(by = 'count', ascending = False).reset_index(drop = True)

print('The Second most frequent word in the string is "{}"'.format(df['words'][1]))

The Second most frequent word in the string is "test"

In [18]:
df

       words  count
0     string     10
1       test      9
2         to      4
3         be      3
4          a      2
5         in      2
6       have      2
7      needs      2
8       this      1
9   counted.      1
10    number      1
11     their      1
12       and      1
13   counted      1
14    short,      1
15       sub      1
16      that      1
17        is      1
18      find      1
19        we      1
20     which      1
21  printed.      1

Q13. Write the Python program to find the minimum window in the given
string, which will contains all the characters of another given
strings?

    Example 1
    Input : string1 = " PRWSOERIUSFK "
    string2 = " OSU "
    Output: Minimum window is "OERIUS"

#### The window 'SOERIU' is coming before 'OERIUS' so i am preffering that

In [19]:
string1 = " PRWSOERIUSFK "
string1 = string1.strip()
string2 = " OSU "
string2 = string2.strip()

In [20]:
def question_13(str1, str2):
    indexes = []
    for letter in str2:
        a = str1.index(letter)
        indexes.append(a)

    desired_output = str1[min(indexes): max(indexes)+1]
    return desired_output

output = question_13(string1, string2)
output

'SOERIU'

Q14. Write the Python program to count number of substrings from a
given string of lowercase alphabets with exactly k distinct (given)
characters?

    Input a string (lowercase alphabets): wolf
    Input k: 4
    Number of substrings with exactly 4 distinct characters: 1

Q15. Write the Python program to count number of substrings with same
first and last characters of the given string?

    Input a string: abcd
    4

In [21]:
def question_15(input_string):
    str_len = len(input_string)
    print('the str_len is', str_len)
    output_value = 0
    
    for i in range(str_len):
#         print('the i is', i)
        for j in range(i, str_len):
#             print('\n')
#             print('the j is', j)
#             print('\n')
            if input_string[i] == input_string[j]:
                print(input_string[i])
                print(input_string[j])
                output_value   = output_value + 1
#                 print('the output value in inner loop is', output_value)
    
    return output_value
    

input_str = input(str())
output = question_15(input_str)
output

papparazzi
the str_len is 10
p
p
p
p
p
p
a
a
a
a
a
a
p
p
p
p
p
p
a
a
a
a
r
r
a
a
z
z
z
z
z
z
i
i

17

## Great Job!